/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
.logo-conteiner{
    padding: 20px ;
}
.logo-img{
    vertical-align: bottom;
}
#title{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 50px;
    display: inline-block;
}

/* Main */
.container-main{
    background-color: #dfe6e9;
    padding-top: 50px;
    padding-bottom: 10px;
}
/* Container To Do List */
.container.todo-list{
    height: 600px;
    width: 760px;
    margin: auto;
    border-radius: 2%;
    background-color: white;
}
/* TASKBAR */
.container.inputs{
    padding: 1rem 50px 1rem;
    border-bottom: 4px solid #dfe6e9;
}

/* Botton add */
.button {
    border: none;
    padding: .5rem 1rem;
    font-size: 0.8rem;
    margin-right: .5rem;
    border-radius: .5rem;
    background-color: #47acf0;
    color: white;
}
/* Input di testo */
#input-text{
    font-size: 0.8rem;
    margin-right: .5rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    width: 100px;
    border: 1px solid gray;

}


/* conteiner-description */
.conteiner-description{
    padding-top: 20px;
    padding-left: 50px;
    line-height: 30px;
}
/* Change Symbol of Marker */
ul {
  list-style: none;
}
li {
  padding-left: 1em;
  text-indent: -1em;
}


li.ok:before {
  content: "\2705";
  padding-right: 5px;
}
li.ko:before {
    content: "\274C";
    padding-right: 5px;
  }



.element-circle-red {
    color: red;
    border: 1px solid red;
}


/*---------------Classi Generiche e specifiche---------------*/
/* Classe generica per la formattazione del box che descrive la dei Tipologia task */
.type{
    background-color: rgb(23, 172, 209);
    color: aliceblue;
    border-radius: 30%;
    border: 20px;
    padding: 5px;
    font-size: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Classi Specifiche */

/* Editorial Type */
.type.editorial{
    background-color: rgb(23, 172, 209);
}
/* Goals Type */
.type.goals{
    background-color: rgb(129, 20, 231);
}
/* Recruting Type */
.type.recruting{
    background-color: rgb(91, 150, 116);
}
/* Mobile Type */
.type.mobile{
    background-color: rgb(231, 87, 20);
}
/* Website Type */
.type.website{
    background-color: rgb(190, 49, 143);
}
/* Sales Type */
.type.sales{
    background-color: rgb(25, 150, 25);
}
