/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.logo-conteiner{
    padding: 20px ;
}
.logo-img{
    vertical-align: bottom;
}
#title{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 50px;
    display: inline-block;
}

/* Main */
.container-main{
    background-color: rgb(222, 224, 224);
    padding-top: 50px;
    padding-bottom: 10px;
}

/* Container To Do List */
.container.todo-list{
    height: 600px;
    width: 500px;
    margin: auto;
    border-radius: 2%;
    background-color: white;
}
/* Container Inputs */
.container.inputs{
    height: 50px;
    padding-left: 50px;
    padding-top: 15px;
}
/* Botton add */
#add{
    background-color: rgb(24, 154, 187);
    border-radius: 10%;
    border-color: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    padding: 4px;
    font-size:8px;
}
#inval{
    padding: 4px;
    font-size:8px;
     width: 70px;
     text-align: center;

}

hr{
    border-color: rgb(222, 224, 224);
}

/* conteiner-description */
.conteiner-description{
    padding-top: 20px;
    padding-left: 50px;
    line-height: 30px;
}
/* Change Symbol of Marker */
ul {
  list-style: none;
}
li {
  padding-left: 1em;
  text-indent: -1em;
}
/* 

Non Riesco a cambiare Entity al Singolo item della lista 

*/

li:before {
  content: "\2705";
  padding-right: 5px;
}

/*---------------Classi Generiche e specifiche---------------*/
/* Classe generica per la formattazione del box che descrive la dei Tipologia task */
.type{
    background-color: rgb(23, 172, 209);
    color: aliceblue;
    border-radius: 30%;
    border: 20px;
    padding: 5px;
    font-size: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Classi Specifiche */

/* Editorial Type */
.type.editorial{
    background-color: rgb(23, 172, 209);
}
/* Goals Type */
.type.goals{
    background-color: rgb(129, 20, 231);
}
/* Recruting Type */
.type.recruting{
    background-color: rgb(91, 150, 116);
}
/* Mobile Type */
.type.mobile{
    background-color: rgb(231, 87, 20);
}
/* Website Type */
.type.website{
    background-color: rgb(190, 49, 143);
}
/* Sales Type */
.type.sales{
    background-color: rgb(25, 150, 25);
}
